<h2>This shows CORS action</h2>




<div class="container">
  <h2 class="heading">Current Employees data</h2>


  <table style="border: 1px solid;">
    <thead style="color:green">
    <td>Employee Id</td>
    <td>Employee Name</td>
    <td>Employee Company ID</td>
    </thead>
    <tr *ngFor="let employee of employees">
      <td>{{employee.EmpName}}</td>
      <td>{{employee.EmpId}}</td>
      <td>{{employee.EmpCompanyId}}</td>
    </tr>
  </table>

  <h2 class="heading">Employee data submission</h2>

  <form #userForm="ngForm" (ngSubmit)="submitForm(userForm.value)">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" ngModel>
    </div>

    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" class="form-control" id="id" name="id" ngModel>
    </div>
    <div class="form-group">
      <label for="companyid">CompanyId</label>
      <input type="text" class="form-control" id="companyid" name="companyid" ngModel>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>







<!--<input type="file" class="file-input" (change)="onChange($event)" #fileUpload />

<div *ngIf="file">
  <section class="file-info">
    File details:
    <ul>
      <li>Name: {{file.name}}</li>
      <li>Type: {{file.type}}</li>
      <li>Size: {{file.size}} bytes</li>
    </ul>
  </section>

  <button (click)="onUpload()">Upload the file</button>


</div>-->
